<h3>Consulta de Produtos</h3>
<p>Listagem de produtos cadastrados</p>
<hr />

<div class="table-responsive">
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th>Nome do produto</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th>Descrição</th>
        <th>Criado em</th>
        <th>Modificado em</th>
        <th>Operações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-outline-primary me-2">Editar</button>
          <button class="btn btn-outline-danger">Excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">Quantidade de produtos: 0</td>
      </tr>
    </tfoot>
  </table>
</div>
